---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
---


<Layout title="star wars">
    <Navbar />
    
        <img src="/starwars2.webp" alt="">

        <div id="baslik" class="text-5xl">Star Wars</div>


        
        <div id="icerik">
            <p>
                Star Wars, George Lucas tarafından yaratılan ve 1977 yılında ilk kez gösterime giren bir film serisidir. Seri, galaksinin uzak bir köşesinde geçen bir hikaye anlatır ve Jedi ve Sith gibi iki karşıt güç arasındaki bir savaşı işler. Filmler, geniş bir hayran kitlesine sahiptir ve birçok spin-off, devam filmleri, animasyonlar, kitaplar ve oyunlar gibi ek içerikler de içermektedir. Seri ilk olarak "Star Wars: Episode IV - A New Hope" olarak gösterime girdi ve daha sonra "The Empire Strikes Back" ve "Return of the Jedi" ile devam etti. 1999 yılında "The Phantom Menace", "Attack of the Clones" ve "Revenge of the Sith" ile bir prequel serisi başladı. 2015 yılında "The Force Awakens" ile yeni bir trilogy başladı ve 2017 yılında "The Last Jedi" ve 2019 yılında "The Rise of Skywalker" ile devam etti. Star Wars, özellikle de ilk üç filmin yayınlandığı dönemde, sinema tarihinde büyük bir etki yaptı. Filmler, efsanevi karakterler, hikayeler ve teknolojiler ile hatırlanır. Özellikle de Jedi ve Sith gibi karşıt güçler arasındaki savaş hikayesi, birçok hayranın hayatını etkilemiştir. Ayrıca, Star Wars, hayranlarının yaratıcılığını ve hayal gücünü uyandıran bir evrendir ve hayranları tarafından yıllardır keşfedilmeye devam edilir.
Star Wars, George Lucas tarafından yaratılan ve 1977 yılında ilk kez gösterime giren bir film serisidir. Seri, galaksinin uzak bir köşesinde geçen bir hikaye anlatır ve Jedi ve Sith gibi iki karşıt güç arasındaki bir savaşı işler. Filmler, geniş bir hayran kitlesine sahiptir ve birçok spin-off, devam filmleri, animasyonlar, kitaplar ve oyunlar gibi ek içerikler de içermektedir. Seri ilk olarak "Star Wars: Episode IV - A New Hope" olarak gösterime girdi ve daha sonra "The Empire Strikes Back" ve "Return of the Jedi" ile devam etti. 1999 yılında "The Phantom Menace", "Attack of the Clones" ve "Revenge of the Sith" ile bir prequel serisi başladı. 2015 yılında "The Force Awakens" ile yeni bir trilogy başladı ve 2017 yılında "The Last Jedi" ve 2019 yılında "The Rise of Skywalker" ile devam etti. Star Wars, özellikle de ilk üç filmin yayınlandığı dönemde, sinema tarihinde büyük bir etki yaptı. Filmler, efsanevi karakterler, hikayeler ve teknolojiler ile hatırlanır. Özellikle de Jedi ve Sith gibi karşıt güçler arasındaki savaş hikayesi, birçok hayranın hayatını etkilemiştir. Ayrıca, Star Wars, hayranlarının yaratıcılığını ve hayal gücünü uyandıran bir evrendir ve hayranları tarafından yıllardır keşfedilmeye devam edilir.

Star Wars, George Lucas tarafından yaratılan ve 1977 yılında ilk kez gösterime giren bir film serisidir. Seri, galaksinin uzak bir köşesinde geçen bir hikaye anlatır ve Jedi ve Sith gibi iki karşıt güç arasındaki bir savaşı işler. Filmler, geniş bir hayran kitlesine sahiptir ve birçok spin-off, devam filmleri, animasyonlar, kitaplar ve oyunlar gibi ek içerikler de içermektedir. Seri ilk olarak "Star Wars: Episode IV - A New Hope" olarak gösterime girdi ve daha sonra "The Empire Strikes Back" ve "Return of the Jedi" ile devam etti. 1999 yılında "The Phantom Menace", "Attack of the Clones" ve "Revenge of the Sith" ile bir prequel serisi başladı. 2015 yılında "The Force Awakens" ile yeni bir trilogy başladı ve 2017 yılında "The Last Jedi" ve 2019 yılında "The Rise of Skywalker" ile devam etti. Star Wars, özellikle de ilk üç filmin yayınlandığı dönemde, sinema tarihinde büyük bir etki yaptı. Filmler, efsanevi karakterler, hikayeler ve teknolojiler ile hatırlanır. Özellikle de Jedi ve Sith gibi karşıt güçler arasındaki savaş hikayesi, birçok hayranın hayatını etkilemiştir. Ayrıca, Star Wars, hayranlarının yaratıcılığını ve hayal gücünü uyandıran bir evrendir ve hayranları tarafından yıllardır keşfedilmeye devam edilir.
            </p>
        </div>



    <Footer />
</Layout>


<style>
    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#baslik {
  text-align: center;
  padding-top: 50px;
}
#icerik {
  text-align: justify;
  padding: 150px;
}
</style>