---

---


<ul style="height: 100px;">
    <li>© Hamza ORTATEPE </li>
</ul>

<style>
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: #000;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }

</style>