<ul class="text-2xl">
    <li><a href="/">Anasayfa</a></li>
    <li><a href="/benimSayfam">myComponent</a></li>
    <li><a href="/grafikler">grafikler</a></li>
    <li><a href="/linkdort">linkdort</a></li>
</ul>

<style>
    ul{
        list-style-type: none;
        overflow: hidden;
        padding-left: 100px;
        border-radius: 15px;
        padding-bottom: 35px;
        
    }
    li {
        display: inline;
        margin: 0 10px;
        border-radius: 15px;
        margin-left: 150px;
        background-color: rgb(220, 223, 223);
        color: black;
    }
</style>